<h1>What day can you come in?</h1>
<div class="row">
		
	<ul class="button-group">
	<% weeks.each do |t| %>
	  <li><a href="#" class="button picker" dataval="off" data="<%= t %>"><%= t %></a></li>
		<% end %>
	</ul>
</div>

<div class="row day">
	<hr>
	<ul class="button-group">
	<% appointments.each do |t| %>
	 <li><a href="#" class="button timeslot" dataval="off" data="<%= t %>"><%= t %></a></li>
	<% end %>
	</ul>
</div>
<div class="row">
	<hr>
<button class="book">book day</button>
</div>


