<body class="unique">
	
	<div class="row">

		<div class="small-12 small-centered large-8 columns">
			<div class="main_signup">
			<h1>Welcome to kidz code </h1>
			<br>
			<br>
			<h5>If you are a parent looking for your kid to get a headstart on programming, you have come to the right place. Kidzcode, is a fun and safe environment for children to learn the basics of programming, and set them off on a path to success!</h5>	
			<%= link_to 'Join Now!', new_student_path, class: 'button'%>
			</div>
		</div>
</div>