<body class="unique">
	<div class="row blue">
		<div class="row main_signup">
			<div class="small-12 large-12 columns">
				<h1>Welcome to kidz code </h1>
			</div>
		</div>
	</div>
	<div class="row red">
		<div class="row main_signup">
			<div class="small-8 small-centered columns box">
				<div class="small-12 large-6 columns"><h2>Who we are</h2></div>
				<div class="small-12 large-6 columns">
					<div id="ok">
						<div class="move">
							<h3>
								Kidz code is a after school program to help kids learn to code!
							</h3>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row white">
		<div class="row main_signup">
		<div class="small-8 small-centered columns box">
				<div class="small-12 large-3 columns content">
					<h3>Individual Attention</h3>
				</div>
				<div class="small-12 large-3 columns">me</div>
				<div class="small-12 large-3 columns">me</div>
				<div class="small-12 large-3 columns">mw</div>
		</div>
		</div>
	</div>
</body>