@import "foundation";

//META INPUTS
$main-background-tabbed: #d3d9dc;
$main-background-color: #f5f5f5;
$box-color: #ffffff;
$black-color: #000;
$blue-reserve: #006fd0;
$dark-blue: #28384f;
$blue-link: #295882;
$blue-link-hover: #295882;
$light-blue-link: #85c3dd;

body {
  
}